---

---

<footer class="border-t-2 border-black flex flex-row justify-between p-1">

    <div>
        <p>Frederik Jensen</p>
        <a href="mailto:fbnj06@outlook.dk">Fbnj06@outlook.dk</a>
    </div>
    <p>Valby, København</p>

</footer>