---

---
<header>
    <nav class="flex flex-row justify-between m-3">
            <div class="flex flex-row items-baseline">
            <i class="fa-solid fa-house fa-2xl"></i>            
            <p>Home</p>
        </div>
        <div class="items-baseline space-x-2">
            <i class="fa-brands fa-linkedin fa-2xl aspect-square"></i>
            <i class="fa-brands fa-github fa-2xl aspect-square"></i>
            <i class="fa-brands fa-square-facebook fa-2xl aspect-square"></i>
        </div>
    </nav>
</header>