---

---
<header class=" border-b-2 border-black">
    <nav class="flex flex-row justify-between m-3">
        <div class="flex flex-row items-baseline cursor-pointer">
            <i class="fa-solid fa-house fa-xl"></i>            
            <p class=" font-bold mx-1">Home</p>
        </div>
        <div class="items-baseline space-x-2">
            <a href="https://www.facebook.com/frederik.jensen.391420/" target="_blank">
            <i class="fa-brands fa-linkedin fa-xl aspect-square"></i>
            </a>
            <a href="https://github.com/fred295qkea" target="_blank">
            <i class="fa-brands fa-github fa-xl aspect-square"></i>
            </a>
            <a href="https://www.linkedin.com/in/frederik-b-n-jensen/" target="_blank">
            <i class="fa-brands fa-square-facebook fa-xl aspect-square"></i>
            </a>
        </div>
    </nav>
</header>

