---
const {size} = Astro.props
---

<div class={size}>

</div>

<style>

@media (min-width: 800px){
    .normal{
        width: 100%;
        height: 30vh;
    }
    .small{
        width: 100%;
        height: 10vh;
    }
}

</style>